<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/static/style.css" type="text/css" />
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="/static/common.js"></script>
        <title>Studli</title>
    </head>

    <body>
        <header>
            <div id="branding">
                <h1>STUDLI</h1>
                <div id="gitlab"><a href="https://gitlab.com/magnetic2247/pronote_killer"><img src="/static/gitlab.png" alt="gitlab logo" /></a></div>    
            </div>
            <nav>
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/write?mode=2">Ajouter une Option</a></li>
                    <li><a href="/write?mode=0">Ajouter un Élève</a></li>
                    <li><a href="/write?mode=1">Ajouter un Prof</a></li>
                    <li><a href="/write?mode=3">Supprimer un Élève</a></li>
                    <li><a href="/write?mode=4">Mettre à jour un prof</a></li>
                </ul>
            </nav>
        </header>

        <section>
            <div id="eleves" class="main">
                <h2>Eleves</h2>
                <button onclick="studpersubject()">Rechercher par Matière</button>
                <button onclick="studperoption()">Rechercher par Option</button>
                <button onclick="teacherperstud()">Rechercher le Prof d'un Élève</button>
                <table>
                    <tr class="keys">
                        <td>Identifiant</td>
                        <td>Nom</td>
                        <td>Prenom</td>
                        <td>Date de Naissance</td>
                        <td>Option</td>
                    </tr>
                    {% for x in eleves.values() %}
                    <tr>
                        {% for y in x.values() %}
                        <td>{{ y }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div id="profs" class="main">
                <h2>Profs</h2>
                <table>
                    <tr class="keys">
                        <td>Identifiant</td>
                        <td>Nom</td>
                        <td>Prenom</td>
                    </tr>
                    {% for x in profs.values() %}
                    <tr>
                        {% for y in x.values() %}
                        <td>{{ y }} </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <div id="options" class="main">
                <h2>Options</h2>
                <table>
                    <tr class="keys">
                        <td>Identifiant</td>
                        <td>Matière</td>
                        <td>Prof</td>
                    </tr>
                    {% for x in options.values() %}
                    <tr>
                        {% for y in x.values() %}
                        <td>{{ y }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </section>
    </body>
</html>
